body {
    height: 100vh;
    width: 100%;
    background:#000;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main {
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right, #5D6D7E, #566573);   
}
.main button {
    padding:10px 12px;
    margin:0 10px;
}
.main #logo {
    position:absolute;
    top: 10px;
    left: 30px;
    font-size:25px;
    color:rgb(192, 189, 189);
}
.main #logo i{
    margin-right: 15px;
}

/* left & right part */
.right, .left{
    position:relative;
    border:2px double #fff;
    height:100%;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* song image */
.left img {
    height: 300px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
}

/* both range slider */
input[type='range']{
    -webkit-appearance:none;
    width:50%;
    outline:none;
    height:2px;
    margin:0 15px;
}
input[type='range']::-webkit-slider-thumb { 
    -webkit-appearance:none;
    height: 20px;
    width: 20px;
    background: #FF8A65;
    border-radius: 50%;
    cursor: pointer;
}
.right input[type='range']{
    width:50%;
}
/* volume part */
.left .volume {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.left .volume p {
    font-size: 14px;
    margin:5px;
}
.left .volume i{
    cursor: pointer;
    padding:8px 12px;
    background:#FF8A65;
}
.left .volume i:hover{
    padding: 6px 6px;
    margin: 0 5px 0 0;
    background:rgba(245, 245, 245, 0.1);
}

/* right part */
.right .middle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .middle button{
    border: none;
    height:70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(245, 245, 245, 0.1);
}

.right #title{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 30px;
}
.right #artist{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
}
.right .duration{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin-top: 40px;
}
/* .right .duration p{
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
} */
.right #audio{
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(245, 245, 245, 0.1);
    border-radius: 10px;
    
}
.right #auto {
    position: relative;
    top:40px;
}
.right #auto i{
    margin-left: 8px;
}
#play{
    background: #FF8A65;
}
.right button:hover{
    background:#FF8A65;
}
.right i:before{
    color: #ccc;
    font-size: 15px;
}
.right .show_song_no{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}
.right .show_song_no p:nth-child(2){
    margin: 0 5px;
}

@media only screen and (max-width:600px) {
    body {
        width:100%;
        height:535px;
        margin:0;
        padding:0;
    }
    .main {
        width:95%;
        height:575px;

    }
    .main #logo {
        position:absolute;
        top: -10px;
        left: 15px;
        font-size:25px;
        color:rgb(192, 189, 189);
    }
    body {
        height: 100vh;
        width: 100%;
        background:#000;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .main {
        position: relative;
        height: 80%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        background:linear-gradient(to right, #5D6D7E, #566573);   
    }
    .main button {
        padding:10px 12px;
        margin:0 10px;
    }
    .main #logo {
        position:absolute;
        top: 10px;
        left: 30px;
        font-size:25px;
        color:rgb(192, 189, 189);
    }
    .main #logo i{
        margin-right: 15px;
    }
    
    /* left & right part */
    .right, .left{
        position:relative;
        border:2px double #fff;
        height:100%;
        width:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    
    /* song image */
    .left img {
        height: 300px;
        width: 80%;
        border-radius: 15px;
        box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
    }
    
    /* both range slider */
    input[type='range']{
        -webkit-appearance:none;
        width:50%;
        outline:none;
        height:2px;
        margin:0 15px;
    }
    input[type='range']::-webkit-slider-thumb { 
        -webkit-appearance:none;
        height: 20px;
        width: 20px;
        background: #FF8A65;
        border-radius: 50%;
        cursor: pointer;
    }
    .right input[type='range']{
        width:50%;
    }
    /* volume part */
    .left .volume {
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .left .volume p {
        font-size: 14px;
        margin:5px;
    }
    .left .volume i{
        cursor: pointer;
        padding:8px 12px;
        background:#FF8A65;
    }
    .left .volume i:hover{
        padding: 6px 6px;
        margin: 0 5px 0 0;
        background:rgba(245, 245, 245, 0.1);
    }
    
    /* right part */
    .right .middle{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right .middle button{
        border: none;
        height:70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        transition: 0.5s;
        background: rgba(245, 245, 245, 0.1);
    }
    
    .right #title{
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: capitalize;
        color: #fff;
        font-size: 25px;
    }
    .right #artist{
        position: absolute;
        top: 110px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: capitalize;
        color: #fff;
        font-size: 14px;
    }
    .right .duration{
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20px;
        margin-top: 40px;
    }
    /* .right .duration p{
        color: #fff;
        font-size: 18px;
        margin-left: 20px;
    } */
    .right #audio{
        font-size: 18px;
        cursor: pointer;
        margin-top: 45px;
        border: none;
        padding: 10px 14px;
        color: #fff;
        background: rgba(245, 245, 245, 0.1);
        border-radius: 10px;
        
    }
    .right #auto {
        position: relative;
        top:40px;
    }
    .right #auto i{
        margin-left: 8px;
    }
    #play{
        background: #FF8A65;
    }
    .right button:hover{
        background:#FF8A65;
    }
    .right i:before{
        color: #ccc;
        font-size: 15px;
    }
    .right .show_song_no{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        color: #fff;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.2);
    }
    .right .show_song_no p:nth-child(2){
        margin: 0 5px;
    }
    
    @media only screen and (max-width:600px) {
        body {
            width:100%;
            height:535px;
            margin:0;
            padding:0;
        }
        .main {
            width:95%;
            height:575px;
    
        }
        .main #logo {
            position:absolute;
            top: 12px;
            left: 15px;
            font-size:25px;
            color:rgb(192, 189, 189);
        }
    
        .right .show_song_no{
            position: absolute;
            top: -450px;
            right: 15px;
            width: 25px;
            height: 15px;
            padding: 5px 12px;
            color: #fff;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.2);
        }
       
        .left {
            position: absolute;
            bottom: 10%;
            top:20px;
            left: 0;
            width: 100%;
            height: 85%;
           
        }
        .left img {
            position:absolute;
            top:70px;
            height: 330px;
            width: 95%;
            border-radius: 15px;
            box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
        }
        .right .title {
            margin-top:-540px;
        }
        .right #artist {
            position:absolute;
            top:-465px;
        }
        .right {
            position: absolute;
            bottom: 10%;
            bottom:2px;
            left: 0;
            width: 100%;
            height: 60px;
           
        }
        .right .middle button {
            position:relative;
            top:-50px;
            height:40px;
            width:40px;
        }
    
        .left .volume {
            position: absolute;
            bottom: 5%;
            top:395px;
            left: 0;
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        .left .volume i {
            padding: 5px 5px;
        }
        .right #auto {
            position: relative;
            top:-30px;
            width:25%;
            padding:2px;
            margin-left:15px;
            font-size:12px;
        }
       
        .right input[type='range']{
            width:50%;
            position: relative;
            top:8px;
        }
        
    }
    .right .show_song_no{
        position: absolute;
        top: -470px;
        right: 15px;
        width: 25px;
        height: 15px;
        padding: 5px 12px;
        color: #fff;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.2);
    }
   
    .left {
        position: absolute;
        bottom: 10%;
        top:20px;
        left: 0;
        width: 100%;
        height: 85%;
       
    }
    .left img {
        position:absolute;
        top:70px;
        height: 330px;
        width: 95%;
        border-radius: 15px;
        box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
    }
    .right .title {
        margin-top:-540px;
    }
    .right #artist {
        position:absolute;
        top:-465px;
    }
    .right {
        position: absolute;
        bottom: 10%;
        bottom:2px;
        left: 0;
        width: 100%;
        height: 60px;
       
    }
    .right .middle button {
        position:relative;
        top:-50px;
        height:40px;
        width:40px;
    }

    .left .volume {
        position: absolute;
        bottom: 5%;
        top:395px;
        left: 0;
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .left .volume i {
        padding: 5px 5px;
    }
    .right #auto {
        position: relative;
        top:-30px;
        width:25%;
        padding:2px;
        margin-left:15px;
        font-size:12px;
    }
   
    .right input[type='range']{
        width:50%;
        position: relative;
        top:8px;
    }
    
}